# Environment variables
.env

# Virtual environment
venv/
.venv/
env/
ENV/

# Vector store data
vector_store/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo

answers.json

*.xlsx
*.csv
